<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Help</h1>
    <div class="buttons">
       <button class="button button-clear button-positive" ng-click="helpmodal.hide()"><i class="ion-ios-close-outline"></i> Close</button>
    </div>
  </ion-header-bar>
  <ion-content style="padding-top:25px;background-color:#ffecb3;">
<h3 style="color:#b71c1c  ">Password Vault</h3>
    <p style="color:#1565c0 ">
    Tired of Remembering all password , then the solution is here ...
    <br>
    This App Encrpt your password with a key and store in your Device.
    </p>
<br>
    <h3 style="color:#b71c1c  ">Instructions</h3>
    <p style="color:#1565c0 " >
    <br>1. To store Your password use Add Account Section.
    <br>2. Provide a secret Key to Encrpt the password and use it for all password. 
    <br>3. This App does not keep the secret key So you must remember it.
    <br>4. Use same key for all Password , as the key point of this application is to remember one key and App remember all password.
   <br>5. You can view the password in the Dashboard , by providing the Account name and key
   <br>6. To Hide password shown, you can click on the Password (red button)
 </p>
<br>

     <h3 style="color:#b71c1c  ">How to Set Password for Application</h3>
 <p style="color:#1565c0 ">
     <br> 
     <font style="color:#b71c1c">Swipe left To Remove a Account</font>, you have to set a Password for the application 
       ,this can be done as follows :
        <br><br>
        1. Add a Account using the Account Name :<font style="color:#ef5350"> Locker</font>
       <br> 2.Input the Password and the Key which you use to Preferred all the Time.
        So even you forgot the app Password you can retrieve it.
 </p>
  </ion-content>
</ion-modal-view>